<?xml version="1.0"?>

<launch>
  <arg name="baseline" default="false"/>
  <arg name="launch_camera" default="false"/>

<include unless="$(arg baseline)"  file="$(find sharework_cembre_safety)/launch/thor_safety.launch"/>
<include if="$(arg baseline)"      file="$(find sharework_cembre_safety)/launch/fixed_area_safety.launch"/>
<include if="$(arg launch_camera)" file="$(find sharework_cembre_sensors)/launch/vision.launch"/>

<include if="$(arg launch_camera)" file="$(find sharework_cembre_sensors)/launch/realsense.launch">
</include>
<include file="$(find sharework_cembre_sensors)/launch/centroid.launch">
</include>

</launch>
