<?xml version="1.0"?>
<launch>
    <include file="$(find sharework_cembre_description)/launch/upload.launch"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sharework_cembre_description)/config/view_cell.rviz" required="true" />
<node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_camera" args="0 0 0 -0.500, 0.500, -0.500, 0.500 camera_link camera_depth_optical_frame" />
</launch>
