<?xml version="1.0"?>
<launch>
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="kinematics_config" default="$(find sharework_cembre_description)/config/cembre_ur10e.yaml"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sharework_cembre_description)/urdf/sharework_cembre.xacro'
      transmission_hw_interface:=$(arg transmission_hw_interface)
      kinematics_config:=$(arg kinematics_config)"
  />
</launch>


