<?xml version="1.0"?>

<launch>
<arg name="pipeline" default="dirrt"/>
<arg name="fake" default="true"/>
<arg name="rviz_config" default="$(find sharework_cembre_demo_safety)/launch/demo.rviz"/>

<include file="$(find sharework_cembre_configurations)/launch/robot_control.launch">
  <arg name="fake" value="$(arg fake)"/>
</include>

<include file="$(find sharework_cembre_configurations)/launch/moveit.launch">
  <arg name="pipeline" value="$(arg pipeline)"/>
  <arg name="rviz_config" value="$(arg rviz_config)"/>
</include>

<include file="$(find sharework_cembre_safety)/launch/safety.launch">
  <arg name="launch_camera" value="false"/>
</include>




</launch>
