<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="sharework_cembre_simplified" >

  <!-- Sharework cell -->
  <xacro:include filename="$(find sharework_cembre_description)/urdf/sharework_cell.urdf.xacro" />
  <xacro:sharework_cell
    simplified='true'
  /> <!--DO NOT DELETE -->
</robot>
