<?xml version="1.0"?>

<launch>
<arg name="pipeline" default="ompl" />
<arg name="load_param" default="load" />
<arg name="debug" default="false" />
  <arg name="baseline" default="false"/>
<arg if="$(arg debug)" name="launch_prefix" default="xterm -e gdb -ex run  --args" />
<arg unless="$(arg debug)" name="launch_prefix" default="" />

<!--<rosparam if="$(eval pipeline == 'human_aware')" command="load" file="$(find sharework_cembre_moveit_config)/config/ha_planning.yaml"/>-->
<!--<rosparam if="$(eval pipeline == 'dirrt')" command="load" file="$(find sharework_cembre_moveit_config)/config/dirrt_planning.yaml"/>-->
<rosparam if="$(arg baseline)" command="load" file="$(find sharework_cembre_moveit_config)/config/dirrt_planning_base.yaml" ns="go_to_location_server"/>
<rosparam unless="$(arg baseline)" command="load" file="$(find sharework_cembre_moveit_config)/config/dirrt_planning.yaml" ns="go_to_location_server"/>

<rosparam command="load" file="$(find sharework_cembre_skills)/config/go_to_location_server.yaml"/>

<node pkg="go_to_location"  type="go_to_location_server" name="go_to_location_server" output="screen" launch-prefix="$(arg launch_prefix)" >
  <param if="$(eval pipeline == 'ompl')" name="manipulator/planning_plugin" value="ompl_interface/OMPLPlanner" />
  <param if="$(eval pipeline == 'human_aware')" name="manipulator/planning_plugin" value="ha_planner/DgacoPlannerManager" />
  <param if="$(eval pipeline == 'dirrt')" name="manipulator/planning_plugin" value="pathplan/DIRRTStar" />
  <remap from="/centroids" to="/centroid_detection_rs1/poses" />
</node>

<node pkg="go_to_location"  type="go_to_location_loader" name="go_to_location_loader" output="screen"/>

</launch>
