<?xml version="1.0"?>

<launch>
<arg name="pipeline" default="human_aware" />
<arg name="load_param" default="load" />
<arg name="debug" default="false" />

<arg if="$(arg debug)" name="launch_prefix" default="xterm -e gdb -ex run  --args" />
<arg unless="$(arg debug)" name="launch_prefix" default="" />

<rosparam if="$(eval pipeline == 'human_aware')" command="load" file="$(find sharework_cembre_moveit_config)/config/ha_planning.yaml"/>
<rosparam if="$(eval pipeline == 'dirrt')" command="load" file="$(find sharework_cembre_moveit_config)/config/dirrt_planning.yaml"/>

<rosparam command="load" file="$(find sharework_cembre_skills)/config/boxes_description.yaml"/>
<rosparam command="load" file="$(find sharework_cembre_skills)/config/boxes_distribution.yaml"/>
<rosparam command="load" file="$(find sharework_cembre_skills)/config/inbound_server.yaml"/>

<node pkg="inbound_pick" type="inbound_pick_server" name="inbound_pick_server" launch-prefix="$(arg launch_prefix)" output="screen" >
  <param if="$(eval pipeline == 'ompl')" name="manipulator/planning_plugin" value="ompl_interface/OMPLPlanner" />
  <param if="$(eval pipeline == 'human_aware')" name="manipulator/planning_plugin" value="ha_planner/DgacoPlannerManager" />
  <param if="$(eval pipeline == 'dirrt')" name="manipulator/planning_plugin" value="pathplan/DIRRTStar" />
</node>

<node pkg="inbound_pick"  type="inbound_pick_loader" name="inbound_pick_loader" output="screen"/>
</launch>
