<?xml version="1.0"?>

<launch>
<arg name="pipeline" default="dirrt" />
<arg name="load_param" default="load" />
<arg name="debug" default="false" />

<include file="$(find sharework_cembre_skills)/launch/scene_spawner.launch"/>

<include file="$(find sharework_cembre_skills)/launch/pick.launch">
<arg name="debug" value="$(arg debug)"/>
<arg name="load_param" value="$(arg load_param)"/>
<arg name="pipeline" value="$(arg pipeline)"/>
</include>


<include file="$(find sharework_cembre_skills)/launch/place.launch">
<arg name="debug" value="$(arg debug)"/>
<arg name="load_param" value="$(arg load_param)"/>
<arg name="pipeline" value="$(arg pipeline)"/>
</include>


<include file="$(find sharework_cembre_skills)/launch/goto.launch">
<arg name="debug" value="$(arg debug)"/>
<arg name="load_param" value="$(arg load_param)"/>
<arg name="pipeline" value="$(arg pipeline)"/>
</include>

</launch>
