<?xml version="1.0"?>
<launch>
  
  <rosparam command="load" file="$(find hrc_mosaic_test)/config/recipe_sincro.yaml"/>
 <!-- <node if="$(arg human)" pkg="hrc_mosaic_test" name="human" type="node" output="screen"/>
  <node unless="$(arg human)"  pkg="hrc_mosaic_test" name="robot" type="node" output="screen"/>-->
 <node pkg="hrc_mosaic_test" name="test_sincro" type="test_sincro" output="screen"/>

</launch>


