<?xml version="1.0"?>

<launch>
<arg name="baseline" default="false"/>
 <arg name="pipeline" default="dirrt" />

<include file="$(find sharework_cembre_configurations)/launch/fake_robot_control.launch"/>
<include file="$(find sharework_cembre_configurations)/launch/moveit.launch">
<arg name="baseline" value="$(arg baseline)"/>
 <arg name="pipeline" default="$(arg pipeline)" />
</include>
<include file="$(find sharework_cembre_configurations)/launch/rviz.launch"/>
<!--<include file="$(find sharework_cembre_configurations)/launch/safety.launch">
<arg name="baseline" value="$(arg baseline)"/>
</include>-->
<node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_camera" args="0 0 0 -0.500, 0.500, -0.500, 0.500 camera_link camera_depth_optical_frame" />
</launch>
