<?xml version="1.0"?>

<launch>
<arg name="baseline" default="false"/>

<!--<include file="$(find sharework_cembre_configurations)/launch/robot_control.launch"/>-->
<include file="$(find sharework_cembre_configurations)/launch/rviz.launch"/>

<include file="$(find sharework_cembre_configurations)/launch/safety.launch">
<arg name="baseline" value="$(arg baseline)"/>
</include>
<!--<include file="$(find sharework_cembre_sensors)/launch/rs1.launch"/>-->

<include file="$(find sharework_cembre_configurations)/launch/moveit.launch">
<arg name="baseline" value="$(arg baseline)"/>
</include>

</launch>
