<?xml version="1.0"?>

<launch>
<arg name="baseline" default="false"/>

<!--<include file="$(find sharework_cembre_configurations)/launch/robot_control.launch"/>-->
<include file="$(find sharework_cembre_configurations)/launch/rviz.launch"/>

<include file="$(find sharework_cembre_configurations)/launch/safety.launch">
<arg name="baseline" value="$(arg baseline)"/>
</include>
<include file="$(find sharework_cembre_sensors)/launch/rs1.launch"/>

<node pkg="tf2_ros" type="static_transform_publisher" name="camera2_to_camera2" args="0 0 0 -0.500, 0.500, -0.500, 0.500 camera2_link camera2_depth_optical_frame" />
<include file="$(find sharework_cembre_configurations)/launch/moveit.launch">
<arg name="baseline" value="$(arg baseline)"/>
</include>

<!--<node pkg="tf2_ros" type="static_transform_publisher" name="table_to_camera2" args="0.620, 0.000, 1.850,0.639, 0.697, -0.220, 0.240 table camera2_link" />-->

</launch>
