<?xml version="1.0"?>

<launch>
  <arg name="gui" default="false"/>
  <arg name="baseline" default="false"/>
<rosparam command="load" file="$(find sharework_cembre_configurations)/config/controllers_configurations.yaml" />
<rosparam command="load" file="$(find sharework_cembre_configurations)/config/ur10e_hw.yaml" />
<rosparam command="load" file="$(find sharework_cembre_configurations)/config/planner_hw.yaml" />
<rosparam command="load" file="$(find sharework_cembre_configurations)/config/strip_hw.yaml" />
<node pkg="object_loader" name="context_manager_node" type="context_manager_node" respawn="true" output="screen"/>

<include unless="$(arg baseline)" file="$(find sharework_cembre_configurations)/launch/thor_safety.launch"/>
<include if="$(arg baseline)" file="$(find sharework_cembre_configurations)/launch/fixed_area_safety.launch"/>

<include file="$(find sharework_cembre_moveit_config)/launch/real.launch">
 <arg name="baseline" value="$(arg baseline)"/>
</include>

</launch>
