<?xml version="1.0"?>

<launch>
<arg name="fake" default="true"/>

<rosparam command="load" file="$(find sharework_cembre_configurations)/config/controllers_configurations.yaml" />
<rosparam unless="$(arg fake)" command="load" file="$(find sharework_cembre_configurations)/config/ur10e_hw.yaml" />
<rosparam if="$(arg fake)"    command="load" file="$(find sharework_cembre_configurations)/config/fake_ur10e_hw.yaml" />
<rosparam command="load" file="$(find sharework_cembre_configurations)/config/planner_hw.yaml" />
<rosparam command="load" file="$(find sharework_cembre_configurations)/config/ur10e_controllers.yaml" />
<rosparam command="load" file="$(find sharework_cembre_configurations)/config/planner_controllers.yaml" />



<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

<node pkg="cnr_configuration_manager"
      type="cnr_configuration_manager_node"
      name="configuration_manager" output="screen">

  <rosparam>
    appenders: [screen,file]
    levels: [info,trace]
    file_name: "configuration_manager"
    append_to_file: true
    pattern_layout: "[%5p][%d{HH:mm:ss,SSS}][%M:%04L][%c] %m%n"
  </rosparam>

  <rosparam command="load" file="$(find sharework_cembre_configurations)/config/controllers_configurations.yaml" />
  <param name="num_worker_threads" value="40" />

</node>

<rosparam command="load" file="$(find sharework_cembre_configurations)/config/controllers_dispatches.yaml" />

<node pkg="cnr_configuration_manager" type="dispatcher" name="configuration_dispatcher" output="screen" >
<rosparam>
  appenders: [screen]
  levels: [info]
  file_name: "configuration_dispatcher"
  pattern_layout: "[%5p][%d{HH:mm:ss,SSS}][%M:%04L][%c] %m%n"
</rosparam>
  <remap from="~configuration_dispatches" to="/configuration_dispatches" />
</node>


<arg name="debug" default="false" doc="Debug flag that will get passed on to ur_common.launch"/>
<arg name="kinematics_config" default="$(find sharework_cembre_description)/config/cembre_ur10e.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>

<include file="$(find sharework_cembre_description)/launch/upload.launch"/>

<group ns="ur10e_hw">
<param name="script_file" type="string" value="$(find sharework_cembre_configurations)/resources/ros_control.urscript" />
<param name="output_recipe_file" type="string" value="$(find sharework_cembre_configurations)/resources/rtde_output_recipe.urscript" />
<param name="input_recipe_file" type="string" value="$(find sharework_cembre_configurations)/resources/rtde_input_recipe.urscript" />
</group>
</launch>
