<?xml version="1.0"?>
<launch>
  <rosparam file="$(find sharework_cembre_configurations)/config/thor_safety.yaml" command="load"/>
  <node pkg="obstacle_handler" name="obstacle_handler_node" type="obstacle_handler_node" output="screen" >
<!--    <remap from="base_frame" to="clearance_hw/cart_teleop/base_link"/>
    <remap from="tool_frame" to="clearance_hw/cart_teleop/tool_link"/>-->
    <remap from="controlled_joints" to="planner_hw/joint_names"/>
    <remap from="poses" to="/centroid_detection_rs1/poses"/>
  </node>
  <node pkg="velocity_scaling_iso15066" type="velocity_scaling_iso15066_node" name="safety" output="screen">
  <remap from="poses" to="/centroid_detection_rs1/poses"/>
  <remap from="unscaled_joint_target" to="ur10e_hw/thor_prefilter_planner/unscaled_joint_target/joint_states"/>
<!--  <remap from="safe_ovr_1" to="/ovr_test"/>-->
  </node>
</launch>
