<launch>
  
<!--  <include file="$(find obstacle_handler)/launch/launcher.launch"/>-->
  <rosparam file="$(find hrc_simulator_configurations)/config/thor_safety.yaml" command="load"/>
  <node pkg="fake_people_detection" name="fake_people_detection" type="node" output="screen" />
  <node pkg="itia_configuration_manager" type="dispatcher" name="dispatcher_thor" output="screen"/>

</launch>
